/*--- LAYOUT ---*/
body{
    background-color: rgb(245, 245, 245);
}
.app-contents {
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px 20px 60px;
    width: 100%;  
    position: relative;
}

/*--- HEADER ---*/
header {
    min-height: 150px;
    margin-bottom: 15px;
    position: relative;
}
header .img-wrap {
    text-align: right;
    cursor: pointer;
    margin-bottom: 10px;
}
header img{
    width: 48px;
    border-radius: 50%;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	border: 3px solid rgb(228, 228, 228);
}
header .btn-logout {
    position: absolute;
    right: 0;
    display: none;
}
header .btn-logout.visible{
    display: block;
}
header .username{
    padding-left: 10px;
}
header .username span {
    font-weight: bold;
}
header .create-button-wrap {
    text-align: right;
    margin-top: 10px;
    padding-right: 10px;
}
header .create-button{
    position: relative;
    display: inline-block;
    width: 24px;
    color: gray;
}
header .create-button div i {
    position: relative
}
header .create-button span{
    position: absolute;
    top: -3px;
    left: 2px;
}

/*--- LIST ---*/
/* .list-container {
	padding-top: 13px;
} */
.list-container li{
    width: 100%;
    padding: 15px;
    margin: 10px 0 20px;
    position:relative;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
    background-color: #fff;
}
.list-container li a {
    display: flex;
}
.list-container li a .txt-wrap{
    width: 100%;
}
.list-container li a .img-wrap{
    width: 150px;
    overflow: hidden;
    margin: 0 auto 0 30px;
}
.list-container li a .img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list-container li .user-info{
    display: flex;

}
.list-container li .user-info > div{
    margin-right: 10px;
}
.list-container li .user-info .img-wrap{
    margin-top: 5px;
}
.list-container li .user-info img{
    display: block;
    width:100%;
    max-width: 36px;
    border-radius: 50%;
}
.list-container li .user-info span{
    display: block;
}
.list-container li .user-info .publishedAt {
    color:rgb(121, 121, 121);
    font-size: 0.9rem;
}
.list-container li .title{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
}
.list-container li .contents{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*--- FORM ---*/
.form-wrapper {
    background: white;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    padding: 15px 15px;
}
  .form {
    width: 100%;
    height: 100%;
}
.form label {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    color: #364f6b;
    font-size: 90%;
}
.form input,
.form textarea {
    font-family: inherit;
    font-size: 100%;
    width: 100%;
    border: 1px solid #dae1e7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
}
.form textarea {
    padding-bottom: 50px;;
    min-height: 500px;
}
.form .image-file-wrap{
    position: relative;
}
.form .image-file-wrap .btn-add-image{
    position: absolute;
    bottom: 30px;
    left:10px;
    color: gray;
    
}
.form .image-file-wrap input {
    display: none;
}
.form .image-file-wrap .file-name{
    position: absolute;
    bottom: 33px;
    left: 45px;
    font-size: 0.8rem;
    color: gray
}
.btn {
  background: #42b983;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  border-radius: .25rem;
  border: 0 solid #dae1e7;
  color: #fff;
}

/*--- POST READ ---*/
.read-container{
    padding: 30px 20px 50px;
    position: relative;
    background-color: #fff;
}
.read-container .title{
    font-size: 1.4rem;
    border-bottom: 1px solid rgb(235, 234, 234);
    padding-bottom: 10px;
}
.read-container .contents-wrap{
    margin-top: 20px;
}
.read-container .contents-wrap .img-wrap{
    margin-bottom: 10px;
}
.read-container .contents-wrap .img-wrap img{
    width: 100%;
    max-width: 500px;
    /* display: block; */
}
.read-container .contents-wrap .txt-wrap a {
    color: blue;
}
.btn-wrap{
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.btn-wrap button{
    color: gray
}

/*--- TAGS ---*/
.tags-container{
    display: flex;
    flex-flow: row wrap;
}
.tags-container li {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 1px 10px;
    border: 2px solid lightgray;
    background-color: lightgray;
    color: #364f6b;
    border-radius: 20px;
    font-size: 0.8em;
    cursor: pointer;

}